<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
  <head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
  </head>

  <body>
    <p>Olá, {name}!</p>
    <p></p>
    <p>Isto é um teste para {gender} {name}, que entrou em <b>{project}, {teams}</b></p>

    <p></p>
    <p>Obrigado,</p>

    {signature}

  </body>
</html>